* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-form {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 15px;
  justify-content: center;
}

.photo-card {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}
.photo-card :hover {
  cursor: pointer;
}
img {
  width: 100%;
  height: 240px;
}

.info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 12px;
}

.search-form {
  display: block;
  margin: 0 auto;
}

.search-form input {
  border: 2px solid #eee;
  border-radius: 5px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  color: green;
  outline: none;
  padding: 5px;
}
.search-form input:focus {
  border-color: green;
}
.search-form input::placeholder {
  font-size: 12px;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 10px;
  padding: 5px 20px;
  background-color: green;
  color: #fff;
  border: inherit;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

button:active {
  background-color: #6b8e23;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

button:disabled {
  background-color: #98fb98;
}

button.is-hidden {
  display: none;
}

.scroll-up {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 1;
  width: 3em;
  height: 3em;
  border-radius: 100%;
  outline: none;
  background: #ddd;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1) inset, 0 1px #fff;
}
.scroll-up:hover {
  cursor: pointer;
}

.scroll-up:after,
.scroll-up:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 7.5%;
  left: -15%;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 10%;
  margin: auto;
  background: #999;
  transform: rotate(315deg);
}
.scroll-up:before {
  left: 15%;
  transform: rotate(45deg);
}
.scroll-up:hover,
.scroll-up:focus {
  background: #e35d31;
  box-shadow: none;
}
.scroll-up:hover:after,
.scroll-up:hover:before {
  background: #fff;
  box-shadow: none;
}
